// Variables couleurs
$maincolor: linear-gradient(rgba(255,121,218,1), rgba(147,86,220,1));
$bg-prim-color: rgba(255,255,255,1);
$bg-sec-color: rgba(246, 246, 246, 1);
$location_banner-color: rgba(234, 234, 234, 1);
$new_notif-color: rgba(153, 226, 208, 1);
$footer-color: rgba(53, 53, 53, 1);
$menu-underline-color: rgba(153, 226, 208, 1);
// Variables textes
$title-size: 1.7rem;
$title-restaurant-size: 1.9rem;
$subtitle-size: 1.1rem;
$subtitle-restaurant: 1.06rem;
$btn-txt: 1rem;
// Shadows
$btn-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$card-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);


// Mixins
@mixin flex-center-rows {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}