@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
}

.title {
  font-size: 1.65rem;
}

.logo-container {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container__img {
  width: 197px;
  height: 36px;
  margin-block: 1rem;
}

.location-banner {
  background: rgb(234, 234, 234);
  font-size: 0.9rem;
  color: rgb(53, 53, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 11px 11px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -5px -5px 5px rgba(0, 0, 0, 0.5);
}
.location-banner__icon {
  font-size: 1rem;
  color: rgb(53, 53, 53);
}
.location-banner__txt {
  font-weight: 500;
  text-align: center;
  padding-left: 1rem;
}

.headline {
  background: rgb(246, 246, 246);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline__title {
  text-align: center;
  margin-bottom: 0.3rem;
  padding-top: 1.3rem;
  padding-inline: 1.3rem;
}
.headline__subtitle {
  font-size: 1.1rem;
  color: rgb(53, 53, 53);
  font-weight: 300;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
}
.headline .btn-main {
  width: 13.5rem;
  height: 3rem;
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.cta-container {
  margin-block: 3.5rem;
}
.cta-container__title {
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  margin-bottom: 2rem;
}
.cta-container .cta-menu {
  padding-inline: 2rem;
}
.cta-container .cta-menu__btn {
  border: none;
  background: rgb(246, 246, 246);
  height: 4.5rem;
  border-radius: 20px;
  margin-bottom: 1.3rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.cta-container .cta-menu__btn__content {
  display: flex;
  gap: 1rem;
}
.cta-container .cta-menu__btn__icon {
  margin-inline: 0.5rem;
}
.cta-container .cta-menu__btn__txt {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
}

.restaurants-container {
  background: rgb(246, 246, 246);
}
.restaurants-container .restaurants {
  margin-inline: 1rem;
  padding-top: 2rem;
}
.restaurants-container .restaurants__title {
  font-size: 1.65rem;
  margin-bottom: 1rem;
}
.restaurants-container .cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.restaurants-container .card {
  background: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.restaurants-container .card__img-wrapper {
  max-height: 12rem;
  overflow: hidden;
}
.restaurants-container .card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-container .card__content {
  color: black;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.restaurants-container .card__content__title {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.restaurants-container .card__content__subtitle {
  font-weight: 300;
  margin-block: 0.2rem;
}
.restaurants-container .card__like {
  position: absolute;
  right: 1rem;
  bottom: 1.8rem;
}/*# sourceMappingURL=style.css.map */